MaceTech.API/macetech-101-firebase-adminsdk-fbsvc-33a4c94a5a.json
/MaceTech.API/obj
.idea/.idea.MaceTech/.idea/discord.xml
.idea/.idea.MaceTech/.idea/.name
.vs/MaceTech/v17/.suo
.vs/MaceTech/v17/DocumentLayout.json
MaceTech.API/bin/Debug/net9.0/macetech-101-firebase-adminsdk-fbsvc-33a4c94a5a.json